# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: pnpm/action-setup@v2.4.0
      with:
        version: 8.11.0
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'
        cache: 'pnpm'

    - run: pnpm install
    - run: pnpm turbo build lint --go-fallback
    - run: pnpm turbo build --go-fallback
      if: ${{ failure() }}
    - run: ls -alt apps/docs/
      if: ${{ failure() }}
